name: AMXX Plugin Workflow

on:
  push:
    branches: 
      - master
      # Add agmodx-ci branch to test the changes before merging to master
      - agmodx-ci
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Download latest amxmodx 1.9 (Linux)
      run: |
        wget "https://www.amxmodx.org/latest.php?version=1.9&os=linux&package=base" -O amxx.tar.gz
        tar -xzf amxx.tar.gz
    - name: Download latest amxmodx 1.9 (Windows)
      run: |
        wget "https://www.amxmodx.org/latest.php?version=1.9&os=windows&package=base" -O amxx-windows.zip
        mkdir amxx-windows
        unzip amxx-windows.zip -d amxx-windows
    - name: Download Metamod v1.21p39 (Solokiller)
      run: |
        wget "https://github.com/Solokiller/Metamod-P-CMake/releases/download/v1.21p39/Metamod-P-opt-fast-Linux.zip" -O metamod.zip
        wget "https://github.com/Solokiller/Metamod-P-CMake/releases/download/v1.21p39/Metamod-P-opt-fast.zip" -O metamod-win.zip
        unzip metamod.zip
        unzip metamod-win.zip -d metamod
    - name: Give amxxpc the required permissions
      run: chmod +x addons/amxmodx/scripting/amxxpc
    - name: Compile agmodx plugins
      run: |
        # Saving the current location to cd later
        previousDir=$(pwd)

        # Creating agmodx release folder structure (Windows and linux)
        os=("agmodx-dev-linux" "agmodx-dev-windows")
        for i in "${os[@]}"
        do
          mkdir $i && cd $i && mkdir valve && cd valve
          mkdir addons ctf dlls gamemodes locs models sound

          # Returning to the location where we were before
          cd $previousDir
        done

        # Copy amxmodx addons folder (Windows and linux)
        cp -a addons/* agmodx-dev-linux/valve/addons
        cp -a amxx-windows/addons/* agmodx-dev-windows/valve/addons

        # In case the repository has an include folder, we copy the dependencies
        if [ -d valve/addons/amxmodx/scripting/include ]; then
          echo "Copying non-standard dependencies..."
          cp -a valve/addons/amxmodx/scripting/include/*.inc addons/amxmodx/scripting/include
        fi

        # Add missing native is_user_authorized (amxmodx.inc)
        sed 's/native is_user_hltv(index);/& \nnative is_user_authorized(index);\n/' addons/amxmodx/scripting/include/amxmodx.inc -i

        # Move to the folder where the compiler is located
        cd addons/amxmodx/scripting

        # Compile all plugins inside scripting folder
        for file in $previousDir/valve/addons/amxmodx/scripting/*.sma
        do
          smafile="`echo $file | sed -e 's/\.sma$/\.amxx/'`"
          echo -e "\nCompiling $(basename $file)..." 
          ./amxxpc $file -o$previousDir/agmodx-dev-linux/valve/addons/amxmodx/plugins/$(basename "$smafile")
        done

        # Returning again to the location where we were before
        cd $previousDir

        # Copy compiled plugins to windows artifact
        cp -a agmodx-dev-linux/valve/addons/amxmodx/plugins/*.amxx agmodx-dev-windows/valve/addons/amxmodx/plugins

        # Remove scripting folder
        rm -r agmodx-dev-linux/valve/addons/amxmodx/scripting
        rm -r agmodx-dev-windows/valve/addons/amxmodx/scripting

        for systems in "${os[@]}"
        do
          # Copy agmodx plugins list and multilanguage files
          cp valve/addons/amxmodx/data/lang/*.txt $systems/valve/addons/amxmodx/data/lang
          cp valve/addons/amxmodx/configs/plugins-agmodx.ini $systems/valve/addons/amxmodx/configs

          # Copy the rest of the directories and files from agmodx repo
          toCopy=("ctf" "dlls" "gamemodes" "locs" "models" "sound" "delta.lst" "server.cfg" "startup_server.cfg")
          for tc in "${toCopy[@]}"
          do
            # Directory
            if [[ -d valve/$tc ]]; then
              if [[ $tc == "dlls" && $systems == "agmodx-dev-linux" ]]; then
                cp -a valve/$tc/*.so $systems/valve/$tc
              elif [[ $tc == "dlls" && $systems == "agmodx-dev-windows" ]]; then
                cp -a valve/$tc/*.dll $systems/valve/$tc
              else
                cp -a valve/$tc/* $systems/valve/$tc
              fi
            # File
            elif [[ -f valve/$tc ]]; then
              cp -a valve/$tc $systems/valve
            fi
          done
        done

        # Create metamod folder and copy metamod plugin
        mkdir agmodx-dev-linux/valve/addons/metamod agmodx-dev-linux/valve/addons/metamod/dlls
        mkdir agmodx-dev-windows/valve/addons/metamod agmodx-dev-windows/valve/addons/metamod/dlls
        cp metamod/*.so agmodx-dev-linux/valve/addons/metamod/dlls
        cp metamod/*.dll agmodx-dev-windows/valve/addons/metamod/dlls

        # Add amxmodx to metamod plugins
        echo 'linux addons/amxmodx/dlls/amxmodx_mm_i386.so' > agmodx-dev-linux/valve/addons/metamod/plugins.ini
        echo 'win32 addons/amxmodx/dlls/amxmodx.dll' > agmodx-dev-windows/valve/addons/metamod/plugins.ini

        liblist='// Valve Game Info file'
        liblist+='\n// These are key/value pairs.  Certain mods will use different settings.'
        liblist+='\ngame "Half-Life"'
        liblist+='\nstartmap "c0a0"'
        liblist+='\ntrainmap "t0a0"'
        liblist+='\nmpentity "info_player_deathmatch"'
        liblist+='\ngamedll "addons\metamod\dlls\metamod.dll"'
        liblist+='\ngamedll_linux "addons/metamod/dlls/metamod.so"'
        liblist+='\ngamedll_osx "dlls/hl.dylib"'
        liblist+='\nsecure "1"'
        liblist+='\ntype "singleplayer_only"'

        # Create liblist.gam file
        echo -e $liblist > agmodx-dev-linux/valve/liblist.gam
        echo -e $liblist > agmodx-dev-windows/valve/liblist.gam
    - name: Upload agmodx-dev artifacts for Linux
      uses: actions/upload-artifact@master
      with:
        name: agmodx-dev-linux
        path: agmodx-dev-linux
    - name: Upload agmodx-dev artifacts for Windows
      uses: actions/upload-artifact@master
      with:
        name: agmodx-dev-windows
        path: agmodx-dev-windows